@charset "UTF-8";

/**
 * themes/theme_dark.scss
 * @desc default theme
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-27
 */

$theme_dark: (
  panel_bg: #2c393c,
  panel_header_normal: #283538,
  text_normal: #b1b8ba,
  text_focus: #fff
);
