@charset "UTF-8";

/**
 * themes/theme_dark.scss
 * @desc default theme
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-27
 */

$theme_dark: (
  color_panel_bg: #364346,
  color_header_normal: #283538,
  color_icon_normal: #f60,
  color_icon_focus: #fff,
  color_text_normal: #b1b8ba,
  color_text_focus: #fff,
  color_form_bg_normal: #2c393c,
  color_form_bg_focus: #20292b,
  color_form_border_normal: #293538,
  color_form_border_focus: #20292b,
  font_content: (
    "Proxima Nova Regular",
    "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif
  ),
  font_header: (
    "Proxima Nova Bold",
    "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif
  ),
  font_input: (
    "Inconsolata",
    Monaco,
    Menlo,
    "Ubuntu Mono",
    Consolas,
    source-code-pro,
    monospace
  )
);
