@charset "UTF-8";

/**
 * base/fonts.scss
 * @desc font-faces
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-27
 */

@import "/iconfonts/iconfont.css";

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("/fonts/proxima_nova_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/fonts/proxima_nova_bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-webfont.woff2") format("woff2");
}
