@charset "UTF-8";

/**
 * form/input.scss
 * @desc input field
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-28
 */

@mixin form_input($width, $height) {
  width: $width;
  height: $height;
  outline: none;
  padding: 0 8px;
  font-size: 12px;

  @include themify($themes) {
    font-family: themed("font_input");
    color: themed("color_text_normal");
    background-color: themed("color_form_bg_normal");
    border: 1px solid themed("color_form_border_normal");
  }

  &:focus,
  &:hover {
    @include themify($themes) {
      color: themed("color_text_focus");
      background-color: themed("color_form_bg_focus");
      border-color: themed("color_form_border_focus");
    }
  }
}
