@charset "UTF-8";

/**
 * form/slider.scss
 * @desc slider ui
 * @author wang.yuanqiu007@gamil.com
 * @date 2019-01-04
 */

@import "../base/mixins";
@import "../base/variables";

@mixin form_slider($width, $height) {
  $btn_width: 7%;
  $bar_height: 50%;

  width: $width;
  height: $height + 2px;
  line-height: $height;
  font-size: 12px;
  position: relative;

  & > .slider_wrapper {
    width: 0.7 * $width;
    height: $height + 2px;
    line-height: $height;
    font-size: 12px;
    position: relative;

    & > .slide_bar {
      width: $width;
      height: $bar_height;
      position: absolute;
      top: 50% - $bar_height/2;
      z-index: 10;

      @include themify($themes) {
        font-family: themed("font_input");
        color: themed("color_text_normal");
        background-color: themed("color_form_bg_normal");
        border: 1px solid themed("color_form_border_normal");
      }
    }

    & > .slide_btn {
      position: absolute;
      width: $btn_width;
      height: calc(100% - 2px);
      z-index: 20;
      cursor: pointer;

      @include themify($themes) {
        font-family: themed("font_input");
        color: themed("color_text_normal");
        background-color: themed("color_text_normal");
        border: 1px solid themed("color_form_border_normal");

        @include transition(background-color, $animate_time);

        &:hover,
        &.active {
          background-color: themed("color_text_focus");
        }
      }
    }
  }

  & > .value {
    position: absolute;
    width: calc(#{$width * 0.3} - 10px);
    right: 0;
    margin-top: -$height - 1px;
    text-align: right;

    @include themify($themes) {
      font-family: themed("font_input");
    }
  }
}
