@charset "UTF-8";

/**
 * form/checkbox.scss
 * @desc checkbox ui
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-31
 */

@import "../base/mixins";

@mixin form_switch($width, $height) {
  width: $width;
  height: $height;
  line-height: $height;
  overflow: hidden;
  font-size: 12px;
  position: relative;

  @include themify($themes) {
    font-family: themed("font_input");
    color: themed("color_text_normal");
    background-color: themed("color_form_bg_normal");
    border: 1px solid themed("color_form_border_normal");
  }

  .left,
  .right {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    z-index: 10;
    cursor: pointer;

    @include default_transition;
    @include themify($themes) {
      color: themed("color_text_normal");
    }

    &:hover {
      @include themify($themes) {
        color: themed("color_text_focus");
      }
    }
  }

  .right {
    left: 50%;
  }

  .toggle_button {
    position: absolute;
    width: 50%;
    height: 100%;

    @include default_transition;

    &.btn_true {
      left: 50%;

      @include themify($themes) {
        background-color: themed("color_form_switch_true");
      }
    }

    &.btn_false {
      left: 0%;

      @include themify($themes) {
        background-color: themed("color_form_switch_false");
      }
    }
  }
}
