@charset "UTF-8";

/**
 * layout/group.scss
 * @desc layout for Group.vue
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-28
 */
@import "../base/mixins";
@import "../themes/index";

.groups {
  @include wrapper;

  & > .pe_group {
    margin: 3px;
    border-radius: 3px;

    @include themify($themes) {
      border: 2px solid themed("color_group_border");
    }

    & > .content {
      padding: 8px 3px;
    }
  }
}
