@charset "UTF-8";

/**
 * layout/header.scss
 * @desc layout for Header.vue
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-27
 */

@import "../base/mixins";
@import "../themes/index";

.pe_header {
  $height: 32px;

  height: $height;
  line-height: $height;
  text-overflow: ellipsis;
  font-size: 12px;

  @include no-select;
  @include wrapper;
  @include default_transition;
  @include themify($themes) {
    color: themed("color_text_focus");
    background-color: themed("color_header_normal");
    font-family: themed("font_header");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    border-bottom: 1px solid rgba(themed("color_group_border"), 0.5);
  }

  &.main {
    @include themify($themes) {
      background-color: themed("color_top_header");
    }
  }

  & > .icon {
    cursor: pointer;

    @include icon-wrapper($height, $height);
    @include themify($themes) {
      color: themed("color_icon_normal");
    }

    &:hover {
      @include themify($themes) {
        color: themed("color_icon_focus");
      }
    }
  }

  & > .title {
    float: left;
  }
}

.closed > .pe_header {
  height: 100%;
  writing-mode: vertical-rl;
  background-color: transparent;

  @include themify($themes) {
    color: themed("color_text_focus");
    background-color: themed("color_header_normal");
  }
}
