@charset "UTF-8";

/**
 * layout/panel.scss
 * @desc layout for Panel.vue
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-27
 */

@import "../base/mixins";
@import "../themes/index";

.pe_panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;

  @include no-select;
  @include transition(all, 0.1s);
  @include themify($themes) {
    color: themed("color_text_normal");
    background-color: themed("color_panel_bg");
    font-family: themed("font_content");
  }

  &.closed {
    width: 32px;
  }

  & > .groups > .pe_group:first-child > .pe_header {
    display: none !important;
  }
}
