@charset "UTF-8";

/**
 * layout/panel.scss
 * @desc layout for Panel.vue
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-27
 */

.pe_panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;

  @include themify($themes) {
    background-color: themed("panel_bg");
  }
}
