@charset "UTF-8";

/**
 * layout/row.scss
 * @desc layout for Row.vue
 * @author wang.yuanqiu007@gamil.com
 * @date 2018-12-28
 */

@import "../base/mixins";
@import "../form/input";
@import "../form/checkbox";
@import "../form/slider";

.pe_row {
  $height: 30px;

  height: $height;
  line-height: $height;
  overflow: hidden;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-style: normal;

  & > .input_row {
    $margin: 3px;
    @include row_2_items(30%, 3px, $height);

    & > .left {
      @include no-select;
    }

    & > .right {
      $box_height: $height - 2 * $margin - 2px;

      input {
        @include form_input(calc(100% - #{2 * $margin}), $box_height);
      }

      .pe_checkbox {
        @include form_checkbox(80px, $box_height);
      }

      .pe_slider {
        @include form_slider(100%, $box_height);
      }
    }
  }
}
